package ${package_name}.rpc.api;

import com.shch.lz.ssm.base.BaseServiceMock;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.mapper.${model}Mapper;
import ${package_name}.dao.model.${model}Exaple;

/**
* Created by Link at ${create_time} on ${create_date}.
*/
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper,${model},${model}Example> implements ${model}Service {

}
